#submitButton[disabled] {
  color: white;
}

#submitButton {
  color: black;
}

.ng-touched.ng-valid {
  border: 2px green solid;
}

.ng-touched.ng-invalid {
  border: 2px red solid;
}

.false {
  border: 2px false;
}

.true {
  border: 2px red;
}

input {
  color: black;
}
